.test {
  height: 200px;
  width: 400px;
  font-size: 22pt;
  color: #000000;
  border-width: 0;
  border-style: solid;
  border-color: #000000;
  line-height: 2.5;
  height: 70vh;
  width: 60%;
}
.containKa {
  margin-top: 8rem;
  height: 100vh;
  width: 80vw;
}
.flexInfo {
  display: flex;
  gap: 15em;
  justify-content: center;
  align-items: center;
  background: rgba(255, 248, 220, 0.233);
  padding: 2em;
}
.span {
  font-weight: bold;
}
