* {
  box-sizing: border-box;
}

body,
#root {
  /* background-color: #fff; */
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  background: rgb(152,19,164);
  background: linear-gradient(90deg, rgba(152,19,164,1) 0%, rgba(209,168,2,1) 100%, rgba(0,0,0,1) 100%);
}

h1 {
  margin: 20px 0 0;
  text-align: center;
}
p {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.blur{
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;

}
.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: transparent;
  stroke: antiquewhite;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid antiquewhite;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #B35B56;
  color: antiquewhite;
  width: 40%;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.popup button {
  cursor: pointer;
  background-color: #793449;
  color: antiquewhite;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
  padding: 15px 20px;
  position: absolute;
  bottom: 50px;
  left: 690px;
  transition: transform 5s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  display: block;
  /* transform: translateY(-50px); */
}

audio {
  position: absolute;
  right: 11.5rem;
  width: 115px;
  top: 50%;
  height: 25px;
}

audio::-webkit-media-controls-panel {
  --webkit-justify-content: center;
  height: 25px;
}

/* Removes the timeline */
audio::-webkit-media-controls-timeline {
  display: none !important;
}

/* Removes the time stamp */
audio::-webkit-media-controls-current-time-display {
  display: none;
}
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

.audio-display {
  display: none;
}
